html{
    -webkit-box-sizing:border-box ;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  body{
    font-size: 50px;
    
  
  }
  .main{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;   /* 置中 */
    padding: 0 15px;
    /* background-color: rgb(247, 245, 177); */
  }
.main>header{
    text-align: center;  
     /* 圖片置中 */
     /* /* padding-top: 40px;
     padding-bottom: 20px; */
} 
 .main>header>img.logo{
    /* 可以清楚知道層級關係 */
   width: 150px;
   margin-top: 40px;
   margin-bottom: 20px;
   /* display: block;
   /* margin: 0 auto; */ /*這個方法也可以把圖置中 */
  } 
.main>nav{
    /* background-color: yellow; */
    /* 不確定有沒有選到可以加顏色確認 */
    border-top: 1px solid #8a8002;
    border-bottom: 1px solid #8a8002;
    margin-bottom: 20px ;

}
.main>nav>ul>li{
    /* background-color: aliceblue; */
    display: inline-block;
    width: 33.3333%;   /*文字inline寬度不會變 inline-block 可以設定寬度*/
    margin-right: -12px;
    height: 70px;
    line-height: 70px;    /*行高*/
    text-align: center;   /*文字置中*/
    font-size: 26px;
    font-weight: bolder;
}
.main>nav>ul>li>.nav_item{
  text-decoration: none;
  color: #000;
  display: block; /*所以把hover轉成塊級元素就可以擴展到body的寬度*/
  position: relative;
}
.main>nav>ul>li>.nav_item>.nav_child {
  display: none;
  position: absolute;
  width: 100%;
  
}
.main>nav>ul>li>.nav_item>.nav_child a{
  display: block;
  background-color: #8a8002;
  text-decoration: none;
  color: #FFF;
  font-size: 22px;
  line-height: 35px;
  padding: 10px 20px;
  text-align: left;

}
.main>nav>ul>li>.nav_item > .nav_child a:hover {
  background-color: #000;
}
.main>nav>ul>li>.nav_item:hover{
  background-color: #DCDDDD; /*超連結是inline所以框框不能擴展到最大*/
 
}
.main>nav>ul>li>.nav_item:hover .nav_child{
  display: block;
}
.main>.content img{
    width: 100%;
}
.en_text{
    color: #8a8002;
}


@media(max-width:992px){
  .main>nav>ul>li{
    width: 100%;
  }
}

